*{
    box-sizing : border-box ;
}
.wrap{
    max-width: 33,33%;
    margin : auto ; 
}

.color-1{
    background-color: red;
}
.color-2{
    background-color: green;
}
.color-3{
    background-color: blue;
}


.box3 {
    padding : 15px;
    float : left ;
    height:400px ;    
    width: 33.33%;
    border-top-width : 5px ;  
    text-align: center; 
    font-size: 50px;
    color: white;
}

.box4 {
    float : left ;
    height:400px ;    
    width: 32%;
    border-top-width : 5px ;  
    text-align: center; 
    font-size: 50px;
    margin: 7.5px;
    color: white;
}


